<html>
    <head>
        <title>Zingle operations resources</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css", href="/style/ops.css">
        <script type="module" src="/script/ops.js"></script>
    <head>
    <body>
        <h1>Zingle Ops</h1>
        <nav>
            <a href="/">Homepage</a>
            <a href="/download">Downloads</a>
            <a href="/request">Request</a>
            <a href="/login" class="login hidden">Login</a>
            <a href="/logout" class="logout hidden">Logout</a>
        </nav>
        <h2>Downloads</h2>
        <ul>
            <li><a href="/public/ubuntu.iso">Ubuntu ISO (latest)</a></li>
            <li><a href="/public/zinux.iso">Zingle Linux ISO</a></li>
            <li><a href="/public/contrib/PanGPLinux-5.1.0-c101.tgz">GlobalProtect VPN 5.1.0</a></li>
        </ul>
    </body>
</html>
