html
  head
    title Zingle operations resources
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", type="text/css", href="/style/ops.css")
    script(type="module", src="/script/ops.js")
  body
    h1 Zingle Ops
    nav
      a(href="/") Homepage
      a(href="/download") Downloads
      a(href="/request") Request
      a(href="/login", class="login hidden") Login
      a(href="/logout", class="logout hidden") Logout
    h2 Downloads
    ul
      li
        a(href="/public/ubuntu.iso") Ubuntu ISO (latest)
      li
        a(href="/public/zinux.iso") Zingle Linux ISO
    h2 Other Resources
    ul
      li
        a(href="/secure/contrib/PanGPLinux-5.1.0-c101.tgz") GlobalProtect VPN 5.1.0
