html
  head
    title Zingle operations resources
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", type="text/css", href="public/ops.css")
  body
    h1 Zingle Ops
    h2 Downloads
    ul
      li
        a(href="/public/ubuntu.iso") Ubuntu ISO (latest)
      li
        a(href="/public/zinux.iso") Zingle Linux ISO
