html
  head
    title Zingle operations resources
  body
    h1 Zingle Ops
    h2 Downloads
    ul
      li
        a(href="/public/ubuntu.iso") Ubuntu ISO (latest)
      li
        a(href="/public/zinux.iso") Zingle Linux ISO
