html
  head
    title Zingle operations resources
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", type="text/css", href="/style/ops.css")
    script(type="module", src="/script/ops.js")
  body
    h1 Zingle Ops
    nav
      a(href="/") Homepage
      a(href="/download") Downloads
      a(href="/request") Request
      a(href="/login", class="login hidden") Login
      a(href="/logout", class="logout hidden") Logout
    main
      iframe(width="80" height="45", src="https://www.youtube.com/embed/cx4Y4ox4BhI?autoplay=1&start=43")
      a(href="/secure/codeploy-status/summary.txt") Codeploy Build Status Summary
